@import "../setup/mixins.scss";
@import "../setup/responsivity.scss";

.icons-container {
  display: flex;
  column-gap: 1rem;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    min-width: 5rem;
    img {
      height: 3rem;
      margin-bottom: 1.5rem;
      flex-grow: 1;
      flex-basis: 0;
    }
    span {
      font-size: 1rem;
    }
  }
}

.week-chef {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .chef-info {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    .chef-text {
      flex-grow: 1.5;
      flex-basis: 0;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      line-height: 1.2;
    }

    .chef-card {
      background-color: black;
      height: 60vw;
      min-height: 16.5rem;
      // background-image: -webkit-image-set(
      //   url("../../images/yossi/yossi.png") 1x,
      //   url("../../images/yossi/yossi@2x.png") 2x,
      //   url("../../images/yossi/yossi@3x.png") 3x
      // );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      div {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;

        h3 {
          margin-block-start: 0;
          margin-block-end: 0;
          font-weight: 400;
          font-size: 1.75rem;
          letter-spacing: 0.125rem;
        }
      }
    }
  }

  .chef-restaurants {
    h3 {
      font-weight: 100;
      letter-spacing: 0.15rem;
      font-size: 1rem;
      text-align: left;
    }
  }
}

.buttons-container {
  display: flex;
  column-gap: 1rem;
  justify-content: center;

  div {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgba(232, 196, 122, 0.8);
    font-weight: 300;
    font-size: 1rem;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  /***** MD and UP ****/
  .week-chef {
    .chef-info {
      flex-direction: row;
      column-gap: 3rem;

      .chef-card {
        flex-grow: 1;
        flex-basis: 0;
        height: 22vw;
      }

      .chef-text {
        text-align: justify;
        font-size: 1.25rem;
      }
    }
    .chef-restaurants {
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .icons-container {
    column-gap: 3rem;

    div {
      min-width: 5rem;
      img {
        height: 4.125rem;
      }
      span {
        font-size: 1.5rem;
      }
    }
  }
}
