.fixed-top {
  position: fixed;
  top: 0;
}

.back-grey {
  background-color: #fafafa;
}

.back-sand {
  background-color: rgba(232, 196, 122, 0.8);
}

.back-peach {
  background-color: #f7e0b2;
}

.back-beige {
  background-color: #f9f4ea;
}
